@model Takas.Common.Entities.Concrete.User
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";

}
<!-- ##### Checkout Area Start ##### -->
<div class="col-12 col-md-8 col-lg-9">
    <div class="shop_grid_product_area">
        <div class="row">
            <div class="col-12 col-md-10">
                <div class="single-product-wrapper">
                    @using (Html.BeginForm("ProfileEdit", "UserProfil", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <label for="first_name"><span>Ad*</span></label>
                                <input type="text" class="form-control" id="first_name" name="Name" value="@Model.Name" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="last_name"> <span>Soyad*</span></label>
                                <input type="text" class="form-control" id="last_name" name="Surname" value="@Model.Surname" required>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="email_address">Email Addresi<span>*</span></label>
                                <input type="email" class="form-control" id="email_address" name="Email" value="@Model.Email" required>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="phone_number">Telefon Numarası<span>*</span></label>
                                <input type="text" class="form-control" id="phone_number" name="PhoneNumber" min="0" value="@Model.PhoneNumber" required>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="adres">Adres</label>
                                <input type="text" class="form-control" id="adres" name="Address" value="@Model.Address" required>
                            </div>

                            <div class="col-12" align="center">
                                <a href="#" class="btn essence-btn">Değişikleri Kaydet</a>
                            </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Checkout Area End ##### -->
