
@model List<Takas.Common.Entities.Concrete.Brand>
@{ bool GosterilsinMi = false; }
@{
    // Eger Gelen action Name TumKategoriler ise otomatikman Kullanacagi Layout u vermis oluyoruz.
    if (HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("action") != "BrandList")
    {

        ViewBag.Title = "Brandler";
        Layout = "~/Areas/Admin/Views/Shared/_AdminPanelLayoutPage.cshtml";
        GosterilsinMi = true;
    }

}

@* todo  Gelen Model Icerisinde IsActive e bakarak ya da isBlocked a bakarak kullanicinin bulundugu satirin arka plan rengini degistirebiliriz.*@


<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Brand Listesi
        @*<div class="row"> Renk Ayari Yapmak Istersen Sendeyiz Yavuz
                <i class="fas fa-table btn-lg"></i>
                <div class="alert alert-success" role="alert">
                    Kullanici Listesi
                </div>
            </div>*@
    </div>@if (!GosterilsinMi)
    {
        <a href="@Url.Action("AddBrand","Admin")" class="btn btn-primary btn-xl text-center">Bradnd Ekle</a>
    }

    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    @if (!GosterilsinMi)
                    {
                        <tr>
                            <th>Brand Adi</th>
                            <th>Islemler</th>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th>Brand Adi</th>
                            <th></th>

                        </tr>
                    }
                </thead>
                <tfoot>
                    @if (!GosterilsinMi)
                    {
                        <tr>
                            <th>Brand Adi</th>
                            <th>Islemler</th>
                        </tr>
                    }
                    else
                    {
                        <tr>

                            <th>Brand Adi</th>
                            <th></th>

                        </tr>
                    }
                </tfoot>
                <tbody>
                    @if (GosterilsinMi)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>

                                <td>
                                    <a href="@Url.Action("BrandUpdate", "Admin", new { id = item.ID })" class="btn btn-outline-success btn-sm">Guncelle</a>
                                    <a href="@Url.Action("BrandDelete", "Admin", new {id = item.ID})" class="btn btn-outline-danger btn-sm" onclick="return confirm('Silmek istediğinize emin misiniz')">Sil</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>

                                <td>
                                    <a href="@Url.Action("BrandUpdate", "Admin", new { id = item.ID})" class="btn btn-outline-success btn-sm">Guncelle</a>
                                    <a href="@Url.Action("BrandDelete", "Admin", new {id = item.ID})" class="btn btn-outline-danger btn-sm" onclick="return confirm('Silmek istediğinize emin misiniz')">Sil</a>
                                </td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>